<section id="talks">
<div class="container">
  <h2>Talks </h2>
  <div class="panel panel-default">
    <div class="panel-body">
  		{% assign sorted_talks = (site.talks | sort: 'date') | reverse %}
  		{% for talk in sorted_talks %}
  				 <h3>
             {{ talk.title }}<br>
             <small>{{ talk.sub-title }}</small>
            </h3>
  			<div class="row">
          <div class="col-xs-3">
            {{ talk.date | date_to_string }}
          </div>
          <div class="col-xs-3">
             <i class="fa fa-github"></i>
             <a href='{{ talk.source_url }}'>Source Code</a>
          </div>
          <div class="col-xs-3">
            <i class="fa fa-slideshare"></i>
            <a href='{{ talk.presentation_url }}'>Presentation</a>
          </div>
          <div class="col-xs-3">
            {% if talk.video_url %}
              <i class="fa fa-youtube-square"></i>
              <a href='{{ talk.video_url }}'>
                <span>Video</span>
              </a>
            {% endif %}
          </div>
        </div>
        <div class ="row">
           <p>{{ talk.content }}</p>
  			</div>
  	  {% endfor %}
      <div class="well">
        <p>If you're interested in having me present at your meetup or conference, please <a href="mailto:{{ site.email }}">e-mail me</a></p>
      </div>
    </div>
  </div>
</div>
</section>
